<div
    style="direction:rtl;color:white;text-align:center;font-weight:bolder;border-bottom:1px solid #e7e4e3;background-color:#f1c600;display:block;padding:8px 20px 14px;min-height:80px">
    <h1 style="text-align:center!important;font-size:30px!important;color:white!important">Hello Templatef</h1>
</div>

<div style="direction:rtl;line-height:25px;font-size:18px;padding:0 15px;margin:0;text-align:justify;color:#757575">
    <div>
        <div>

            <div style="display:block">
                <table style="width:100%">
                    <tbody>
                    <tr>
                        <td style="padding:10px;text-align:center;font-size:24px;font-weight:bold">
                            <p style="padding-top:10px"{{hello}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
